# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

#secrets:
.env
*/.env

#vim artifacts
.*.swp

#docker parity artifacts and secrets
docker/parity/cache
docker/parity/chains
docker/parity/keys
docker/parity/network
docker/parity/parity.log
docker/parity/password.txt
docker/parity/signer

node_modules

